[user]
	name = Nathan Turner
	email = nathan@clicksminuteper.net
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[color]
	ui = auto
[credential]
	helper = store
